.button-grid {
  display: grid;
  grid-template-columns: repeat(4, 100px); /* 4列に設定 */
  grid-gap: 10px; /* ボタン間の隙間を設定 */
  justify-content: center; /* 中央に配置 */
  
}

.button {
  width: 100px;
  height: 100px;
  background-color: #00ff48;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  line-height: 100px; /* ボタン内のテキストを縦中央に */
  border: 1px solid #fff;
  cursor: pointer;
}

.button:hover {
  background-color: #b38000;
}


.start-page-link,
.complete-trial-link,
.retire-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 16px;
}

.next-page-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3928a7;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 16px;
}

.next-page-link:hover,
.start-page-link:hover,
.complete-trial-link:hover,
.retire-link:hover {
  background-color: #886621;
}